    <!-- About Section -->
    <section id="about" class="container content-section about-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>An actor driven ensemble based in NYC</h2>
                <p>Born in the space between formal acting training and established careers, Battalion recognizes and revels in the wealth of talent to be found in emerging artists. Our founders believe in utilizing the full scope and diversity of interests and skills to produce lively, joyful, significant evenings of theater, consciously growing with each production.

                With varying backgrounds in classical, modern, and experimental theater Battalion serves as an incredibly flexible vehicle for expression, simultaneously celebrating its strengths and offering the challenge of something new.
                </p>

                <h3>OUR FOUNDERS</h3>
                <div class="bio">
                  <img src="/img/kullan.png" alt="Kullan Edberg">
                  <h3 class="bio-header">KULLAN EDBERG</h3>
                  <p class="bio-text">Kullan Edberg is an NYC based actor and recent graduate of the Stella Adler Studios through NYU Tisch School of the Arts. A passionate teacher, she helped found a program for children to write and produce original plays. Recent stage credits include Roxanne in The Understudy (The Kraine Theater), Betsy/Lindsay in Clybourne Park (Hangar Theatre), Never Sleep Alone (Joe's Pub), and William Wallace in Braveheart (BTP).</p>
                </div>

                <div class="bio">
                  <img src="/img/dan.png" alt="Dan Gonon">
                  <h3 class="bio-header">DANIEL GONON</h3>
                  <p class="bio-text">Dan is a recent graduate from Brown University where he received a BA in Theatre Arts. His one-man show TRAMP(ED), in which he played Charlie Chaplin, was selected for the 2012 United Solo Theatre Festival at Off Broadway's Theatre Row. Other credits include: Bobby Gould in Speed-the-Plow (The Rep Project) and Evan in Ecology of a Visit (Corkscrew Theatre).</p>
                </div>

                <div class="bio">
                  <img src="/img/gerrit.png" alt="Gerrit Thurston">
                  <h3 class="bio-header">GERRIT THURSTON</h3>
                  <p class="bio-text">Gerrit Thurston is a Brooklyn NYC based actor. He has trained at Brown University’s Reperatory Theatre, Eugene O’neill National Theatre Institute, and Williamstown Theatre Festival. Recent credits include Straight White Men (developed with and directed by Young Jean Lee), Speed-The-Plow (The Rep Project, directed by Skylar Fox), and The Kiss of the Spiderwoman (Brown University, directed by Marcus Gardley).</p>
                </div>

                <a href="#productions" class="btn btn-default btn-lg page-scroll">Productions <i class="fa fa-angle-double-down animated"></i></a>
            </div>
        </div>
    </section>
