<!-- Featured Section -->
   <section id="featured" class="container content-section productions-section text-center">
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
         <div id="current-productions-title">
           <img src="/img/this-is-our-youth.jpeg" alt="This Is Our Youth">
         </div>

         <div id="current-productions-more-info">
           <h2>This Is Our Youth</h2>
           <h3>Showtimes</h3>
           <p>Thu March 10, 2016 | 7:30PM</p>
           <p>Fri March 11, 2016 | 7:30PM</p>
           <p>Sat March 12, 2016 | 7:30PM</p>
           <p>Thu March 17, 2016 | 7:30PM</p>
           <p>Fri March 18, 2016 | 7:30PM</p>
           <p>Sat March 19, 2016 | 7:30PM</p>
           <br>
           <p>Dorothy Strelsin Theatre at the Abingdon Theatre Company</p>
           <p>312 W36th St NY 10018</p>
           <a href="https://web.ovationtix.com/trs/pr/956407" alt="Ovationtix Tickets" id="tickets-button" class="btn btn-lg">Buy Tickets</a>
         </div>
       </div>
     </div>
   </section>
