    <!-- Gallery Section -->
    <section id="gallery" class="container gallery-section text-center">
    	<div class="">
    		<h2>Gallery</h2>
        	<iframe src="https://www.flickr.com/photos/133192177@N04/18679624852/in/dateposted-public/player/" width="500" height="333" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    	</div>

    	<a href="#contact" class="btn btn-default btn-lg page-scroll">Contact Us <i class="fa fa-angle-double-down animated"></i></a>
   	</section>
