 <!-- Productions Section -->
    <section id="productions" class="container content-section productions-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div id="past-productions">
            <h2>Past Productions</h2>
            <h4>UNHEALTHY</h4>
            <p>Written by: Darren Caulley</p>
            <p>Directed by: Kelly Teaford</p>
            <p>October 7-24, 2015 — The Kraine Theater</p>

            <br>

            <h4>THE TUTORS</h4>
            <p>Written by: Erica Lipez</p>
            <p>Directed by: Gadi Rubin</p>
            <p>March 12-28, 2014 — The Kraine Theater</p>

            <br>

            <h4>THE DRUNKEN CITY</h4>
            <p>Written by: Adam Bock</p>
            <p>Directed by: Emma Johnson</p>
            <p>September 11-28, 2014 — The Kraine Theater</p>

            <br>

            <h4>THE UNDERSTUDY</h4>
            <p>Written by: Theresa Rebeck</p>
            <p>Directed by: Gadi Rubin</p>
            <p>May 22-24, 2014 — Under St. Mark's Theater & The Kraine Theater</p>
          </div>
        </div>
      </div>
    </section>
