 <!-- Productions Section -->
    <section id="productions" class="container content-section productions-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>What's On</h2>

          <div id="current-productions">
            <h2>Fall 2015</h2>
            <img src="/img/this-is-our-youth.png" alt="This is Our Youth">
          </div>

          <div id="past-productions">
            <h3>Past Productions</h3>
            <h4>THE TUTORS</h4>
            <p>Written by: Erica Lipez</p>
            <p>Directed by: Gadi Rubin</p>
            <p>March 12-28, 2014 — The Kraine Theater</p>

            <br>

            <h4>THE DRUNKEN CITY</h4>
            <p>Written by: Adam Bock</p>
            <p>Directed by: Emma Johnson</p>
            <p>September 11-28, 2014 — The Kraine Theater</p>

            <br>

            <h4>THE UNDERSTUDY</h4>
            <p>Written by: Theresa Rebeck</p>
            <p>Directed by: Gadi Rubin</p>
            <p>May 22-24, 2014 — Under St. Mark's Theater & The Kraine Theater</p>
          </div>
        </div>
      </div>

        <a href="#gallery" id="btn-productions-section" class="btn btn-default btn-lg page-scroll">Gallery <i class="fa fa-angle-double-down animated"></i></a>
    </section>
