 <!-- Productions Section -->
    <section id="productions" class="container content-section productions-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>What's On</h2>

          <div id="current-productions-title">
            <h2>Fall 2015</h2>
            <img src="/img/unhealthy.jpg" alt="Unhealthy">
          </div>

          <div id="current-productions-more-info">
            <h3>About</h3>
            <p>Join Battalion Theatre for a thrilling-but limited-run of this haunting play about dependence and what you lose when you become what someone else needs you to be.</p>
            <br>
            <h3>Showtimes</h3>
            <p>Wed Oct 7,  2015 | 7:00pm</p>
            <p>Sun Oct 11, 2015 | 7:00pm</p>
            <p>Thu Oct 15, 2015 | 7:00PM</p>
            <p>Fri Oct 16, 2015 | 7:00PM</p>
            <p>Sat Oct 17, 2015 | 7:00PM</p>
            <p>Thu Oct 22, 2015 | 7:00PM</p>
            <p>Fri Oct 23, 2015 | 7:00PM</p>
            <p>Sat Oct 24, 2015 | 7:00PM</p>
            <a href="http://www.horsetrade.info/event/6fdf6bfd35cf87d31ffffaa05af9e310" alt="Horse Trade Tickets" id="tickets-button" class="btn btn-lg">Buy Tickets</a>
          </div>

          <div id="past-productions">
            <h3>Past Productions</h3>
            <h4>THE TUTORS</h4>
            <p>Written by: Erica Lipez</p>
            <p>Directed by: Gadi Rubin</p>
            <p>March 12-28, 2014 — The Kraine Theater</p>

            <br>

            <h4>THE DRUNKEN CITY</h4>
            <p>Written by: Adam Bock</p>
            <p>Directed by: Emma Johnson</p>
            <p>September 11-28, 2014 — The Kraine Theater</p>

            <br>

            <h4>THE UNDERSTUDY</h4>
            <p>Written by: Theresa Rebeck</p>
            <p>Directed by: Gadi Rubin</p>
            <p>May 22-24, 2014 — Under St. Mark's Theater & The Kraine Theater</p>
          </div>
        </div>
      </div>

        <a href="#gallery" id="btn-productions-section" class="btn btn-default btn-lg page-scroll">Gallery <i class="fa fa-angle-double-down animated"></i></a>
    </section>
